*{
    
  font-family: 'Poppins', sans-serif;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(105, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the overlay is above other elements */
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: white;
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding:0 30px 30px ;

    /* background-image: url("/assets/tikmark2.png"); */
  }
  .content img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  }
  
/* .first{
  background-image: url("/assets/Files2.jpeg");
  background-size: cover ;
} */
    
  .content p{
    font-size: 16px;
  }
  .content button{
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
    background: #6fd649;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
